// Reset page styles
@import './cssResets.less';

// Fontello  styles
@import './mixins/animation.css';

// Share variables allows for a consistent design style guide
@import '../../public/stylesheets/variables.less';

// Icons fonts from Fontello
@font-face {
  font-family: 'img-gallery-icons';
  src: url('../font/img-gallery-icons.eot?84889234');
  src: url('../font/img-gallery-icons.eot?84889234#iefix') format('embedded-opentype'),
       url('../font/img-gallery-icons.woff?84889234') format('woff'),
       url('../font/img-gallery-icons.ttf?84889234') format('truetype'),
       url('../font/img-gallery-icons.svg?84889234#img-gallery-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Mixins
.icon(@icon) {
  .icon-format;
  .icon-content(@icon);
}
.icon-before(@icon) {
  &:before{
    .icon-format;
    .icon-content(@icon);
  }
}
.icon-after(@icon) {
  &:after{
    .icon-format;
    .icon-content(@icon);
  }
}

// included in all icons
.icon-format{
  font-family: "img-gallery-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: inherit;
  width: 1em;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// specific icon codes
.icon-content(left-circled) { content: '\f0a8'; }
.icon-content(right-circled) { content: '\f0a9'; }
.icon-content(cancel-circled) { content: '\e800'; }
.icon-content(spin5) { content: '\e838'; }
.icon-content(firefox) { content: '\e840'; }
.icon-content(chrome) { content: '\e841'; }
.icon-content(opera) { content: '\e832'; }
.icon-content(ie) { content: '\e833'; }
.icon-content(resize-full-alt) { content: '\f0b2'; }
.icon-content(emo-thumbsup) { content: '\e804'; }

.icon-left-circled { .icon-before(left-circled); }
.icon-right-circled { .icon-after(right-circled); }
.icon-cancel-circled { .icon-before(cancel-circled); }
.icon-spin5 { .icon-before(spin5); }
.icon-firefox { .icon-before(firefox); }
.icon-chrome { .icon-before(chrome); }
.icon-opera { .icon-before(opera); }
.icon-ie { .icon-before(ie); }
.icon-resize-full-alt { .icon-before(resize-full-alt); }
.icon-emo-thumbsup { .icon-after(emo-thumbsup); }

// Local Mixins
.thumbnail-transition-mixin {
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

// Lightbox Styles
#lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100; /* place above everything */

  &.hidden {
    display: none;
  }

  .lighbox-transparent-gray-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: @black;
    opacity: 0.75;
    z-index: 300;
  }

  .lightbox-wrapper {
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 200;

    .lightbox-close-btn {
      position: absolute;
      background-color: transparent;
      color: @white;
      border: 0px;
      padding: 5px;
      margin: 0px;
      right: 20px;
      top: 20px;
      font-size: 2.2em;
      opacity: 0.5;
      z-index: 999;
      outline: none;

      &:enabled {
        cursor: pointer;
      }

      &:hover:enabled {
        opacity: 1;
      }
    }

    .lighbox-arrow-controls {
      outline: none;
      background-color: transparent;
      color: @white;
      border: 0px;
      padding: 5px;
      margin: 0px 20px;
      font-size: 2em;
      opacity: 0.5;
      z-index: 999;

      &:enabled {
        cursor: pointer;
      }

      &:hover:enabled {
        opacity: 1;
      }
    }

    .lightbox-img-wrapper {
      padding: 15px;
      z-index: 999;
    }
  }
}

// Image Gallery Styles
#image-gallery-app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;

  .cropped-img-wrapper {
    overflow: hidden;
    outline: none;
    margin-bottom: -4px;
    padding-bottom: 0px;
    width: 100px;
    height: 100px;

    .wide-image {
      height: 100px;
      width: auto;
      display: inline-block;
      vertical-align: middle;
    }

    .tall-image {
      height: auto;
      width: 100px;
      display: block;
      margin: auto;
    }
  }

  .carousel-wrapper {
    display: flex;

    .carousel-arrow-controls {
      outline: none;
      background: @white;
      border: 0px;
      padding: 5px;
      margin: 0px;
      font-size: 2.2em;
      opacity: 0.3;

      &:enabled {
        cursor: pointer;
      }

      &:hover:enabled {
        opacity: 1;
      }
    }
  }

  .thumbnail-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    .thumbnail-transition-mixin;

    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      opacity: 0;
      .thumbnail-transition-mixin;
    }

    &:hover {
      -webkit-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);

      &:after {
        opacity: 1;
      }
    }
  }

  .loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100px;
    height: 100px;
    margin-top: 4px;

    .loader {
      font-size: 2em;
      display: flex;
      position: relative;;
      opacity: 0.5;
    }
  }
}

.image-gallery-header {
  font-family: Century Gothic, sans-serif;
  font-size: 3em;
  line-height: 1.1;
  font-weight: 700;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
